<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Wempower', posts_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Donate', donations_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Invite a Friend', new_user_invitation_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Actions
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <%= link_to('Add a Post', new_post_path, class: 'dropdown-item') %>
         <%= link_to('Share an Idea', new_idea_path, class: 'dropdown-item') %>
         <%= link_to('View Ideas', ideas_path, class: 'dropdown-item') %>
         <div class="dropdown-divider"></div>
         <%= link_to('Chat', chat_rooms_path, class: 'dropdown-item') %>
       </div>
     </li>
        <li class="nav-item dropdown">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        </li>
      <% else %>
        <li class="nav-item dropdown">
        <%= link_to('Login', new_user_session_path, class: 'nav-link')  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
